services:
  metabase:
    image: metabase/metabase:latest
    container_name: ${METABASE_CONTAINER_NAME:-metabase}
    hostname: ${METABASE_HOSTNAME:-metabase}
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - "${METABASE_PORT:-3000}:3000"
    environment:
      MB_DB_TYPE: ${MB_DB_TYPE:-postgres}
      MB_DB_DBNAME: ${MB_DB_DBNAME}
      MB_DB_PORT: ${MB_DB_PORT:-5432}
      MB_DB_USER: ${MB_DB_USER}
      MB_DB_PASS: ${MB_DB_PASS}
      MB_DB_HOST: ${MB_DB_HOST:-postgres}
    networks:
      - ${NETWORK_NAME:-myNetActive}
    healthcheck:
      test: curl --fail -I http://127.0.0.1:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
  postgres:
    image: postgres:${POSTGRES_VERSION:-16}
    container_name: ${POSTGRES_CONTAINER_NAME:-postgres}
    hostname: ${POSTGRES_HOSTNAME:-postgres}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ${POSTGRES_DATA_PATH:-./pg_data}:/var/lib/postgresql/data
    networks:
      - ${NETWORK_NAME:-myNetActive}

networks:
  myNetActive:
    external: ${NETWORK_EXTERNAL:-true}